<!DocType html>
<html lang="pt=br">
    <head>
        {% include "recipes/partials/head.html" %}
        {% block title %}{% endblock title %}
    </head>

    <body>
        {% include "recipes/partials/header.html" %}
        {% include "recipes/partials/search-container.html" %}

        <main class="main-content-container">
            {% block content %}
            {% endblock content %}
            </div>
        </main>
        {% include "recipes/partials/footer.html" %}
    </body>

</html>